.section-produtos-container{
  padding: 60px 10px;
}

.produtos-list{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-end;
}

.produtos-item{
  flex: 1 1 150px;
}

.produtos-item h3{
  padding: 60px 0px 60px 20px;
  background-color: var(--color-8);
}
