.font-1-xxl,.font-1-xl,.font-1-x,.font-1-x-r,.font-1-l{
  font-family: "Nunito", Helvetica, Arial, sans-serif;
}

.font-1-xxl{
  font-size: 3rem;
  font-weight: 700;
}

.font-1-xl{
  font-size: 2.25rem;
  font-weight: 700;
}

.font-1-x{
  font-size: 1.25rem;
  font-weight: 600;
}

.font-1-x{
  font-size: 1.25rem;
  font-weight: 600;
}

.font-1-x-r{
  font-size: 1.25rem;
  font-weight: 400;
}

.font-1-l{
  font-size: 1rem;
  font-weight: 500;
}
